body {
  width:100%;
  margin:auto;
  background-color: #ffffff;
}

h2 {
  text-align: center;
}

div {
  border-radius: 100;
}

span {
  color: #2b26c1;
}

/* Depending on who wrote it we can color divs */
.Nathan {
  background-color: #00c1bc;
  color: #00f9ff;
  padding: 15px 15px 15px 15px;
}

.James {
  background-color: #ff0000;
  color: #ffa700;
}

.container {
  width:968px;
  margin:0 auto;
}

#header {
  background-color: #b4aeae;
  width: 100%;
  top:0;
  position:fixed;
}

#logo {
  float:left;
}

#logo>h1>a{
  font-family: fantasy;
  text-decoration: none;
  color: #ff0000;
}

#nav {
  float:right;
}

#nav>ul>li {
  list-style: none;
  margin-right: 15px;
  margin-top: 15px;
  float: left;
}

li>a {
  color: #ff0000;
  text-decoration: none;
  font-family: fantasy;
}
